*{
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}


.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}


img{
    height: 150px;
    width: 150px;
     object-fit: cover;    /* // to gave better look */
    border-radius: 50%; 
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}


.scores{
    display: flex;
    margin-top: 3rem;
    gap: 5rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

#You,#computer{
    font-size: 4rem;
}



.msges{
    margin-top: 5rem;
}




#msg{
    background-color: black;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 0%;
}

